<header class="l-header">
  <div class="l-header__col">
    <h1 class="l-header__logo">サイトロゴdd</h1>

    <% const meta = getFileMeta(fileName); %> <% if (meta.body_id === 'index') {
    %>
    <div>testssssddd</div>
    <% } else { %>
    <div>test2ddddddd</div>
    <% } %>
  </div>
</header>
