<header class="l-header">
  <div class="l-header__col">
    <% const meta = getFileMeta(fileName); %> <% if (meta.body_id === 'index') {
    %>
    <h1 class="l-header__logo">サイトロゴ</h1>
    <% } else { %>
    <div class="l-header__logo">サイトロゴ</div>
    <% } %>
  </div>

  <div class="l-header__col">tel: 0120-222-222</div>
</header>
