/*------------------------------------------------------------
*breadcrumbs - パンくず
------------------------------------------------------------*/
.l-breadcrumbs {
  display: block;

  @include media_querys(500px) {
    display: block;
  }
  @include media_querys(0, $sp_break_w) {
    display: block;
  }
}
