/*------------------------------------------------------------
*全体
------------------------------------------------------------*/
/*-----aタグの制御-----*/
a {
  @include media_querys($pc_break_w) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  @include media_querys(0, $sp_break_w) {
    text-decoration: underline;
  }
}

/*------------------------------------------------------------
*レイアウト
------------------------------------------------------------*/
body {
  color: $is_text_color;
  line-height: $is_base_text_lh;

  @include media_querys(0, $sp_break_w) {
    min-width: $min_width;
  }
}

.l-container {
  display: block;

  @include media_querys($pc_break_w) {
    display: block;
  }
}

.l-main {
  display: block;
}
